h1 {
  font-size: 50px;
  font-family: $headers-font;
  font-style: italic;
  color: $t-yellow-1;
  padding: 20px;
  text-align: center;
}

h3 {
  font-family: $headers-font;
  font-size: 40px;
  color: $t-yellow-1;
}
