<%  %>
<div class="card-trip">
  <img src="https://images.unsplash.com/photo-1432639020363-5632f7f04e0b?crop=entropy&cs=tinysrgb&fm=jpg&ixlib=rb-1.2.1&q=60&raw_url=true&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8cHVwcGV0fGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=800" />
  <div class="card-trip-infos">
    <div>
      <h2>Magic Puppets</h2>
      <p>Awesome vintage marionettes!</p>
    </div>
    <h2 class="card-trip-pricing">5 €/day</h2>
    <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
  </div>
</div>
