<div class="footer-hidden" data-controller="footer" data-action="scroll@window->footer#updateFooter">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    With a lot of <i class="fas fa-heart"></i> from toilet team
  </div>
</div>
