
<div class="banner" style="background: url('https://i.ytimg.com/vi/nYFK4YJMNx0/maxresdefault.jpg');">
  <div class="container">
    <h1 class="text-end">"I can finnaly talk to my Granny!"<strong></h1>
    <br>
    <p class="text-end">Thanks more than toys!!!!!!</p>
    <a class="btn btn-flat" href="#"></a>
  </div>
</div>
