
<div class="banner">

  <h1 class="text-end">"I cAn FiNnAlY TaLk tO mY GrAnNy!"</h1>
  <p class="text-end">Thanks more than toys!!!!!!</p>


  <%# <div class="search-field">
    <a class="btn btn-flat btn-home" href="/">StArT HeRe</a>
  </div> %>

  <div class="input-group d-flex justify-content-center">
    <div class="form-outline">
      <input id="search-input" type="search" id="form1" class="form-control search-form" value="What's Your locash QT?" />
      <label class="form-label" for="form1"> </label>
    </div>
    <button id="search-button" type="button" class="btn search-btn">
      <i class="fas fa-search"> GO!</i>
    </button>
  </div>


</div>
