.navbar-lewagon {
  justify-content: space-between;
  background: $t-purple-2;
  padding: 20px;
  margin-bottom: 15px;
  font-family: Nunito;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  background: $t-purple-2;
}

.navbar-lewagon .navbar-brand img {
  width: 80px;
}

.nav-link {
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  color: white;
  margin-right: 15px;
}

.dropdown-menu {
  background-color: $t-yellow-1;
  border: solid 5px $t-yellow-2;
  border-radius: 20px;
}

.dropdown-item {
  font-size: 20px;
}
