.search-form{
  color: white;

  padding: 8px 24px;
  border-radius: 10px;
  background: #b9ffe0;
  border: solid 5px #1fbe77e3;
  transition: background 0.3s ease;
  margin-left: 30px;
  margin-top: 30px;
  font-family: Nunito;
  font-style: italic;
  font-size: 25px;
  font-weight: 700;
  textarea{
    color: #ff0000;
}
}
.search-btn{
  height: 63.5px;

  color: white;
  padding: 8px 24px;
  border-radius: 10px;
  background: #1edd88;
  border: solid 5px #1fbe77e3;
  transition: background 0.3s ease;
  margin-left: 30px;
  margin-top: 30px;
  font-family: Nunito;
  font-style: italic;
  font-size: 18px;
  font-weight: 700;
}
